@use "./utilities/colors" as *;

// RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}

// GLOBAL
.wrapper {
  padding: 0 auto;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.navigation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// HEADER
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
  z-index: 5000;

  &-background {
    position: relative;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("../img/zorza_1920.jpeg");

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $header-shadow;
      content: "";
    }
  }

  &-logo {
    font-size: 3rem;
    font-family: "Jost", sans-serif;

    &:hover {
      color: $main-green;
    }
  }

  &-logo span {
    color: $main-green;
  }

  &-text {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Work Sans", sans-serif;
    text-align: center;
    color: $white;
  }

  &-text span {
    font-size: 4.5rem;
    font-weight: 400;
  }

  &-text h1 {
    font-size: 4rem;
    font-weight: 100;
  }

  &-text p {
    margin: 2rem 0;
    font-size: 1.5rem;
    font-weight: 400;
  }

  &-btn {
    margin: 1.5rem 0;
    padding: 1rem 4rem;
    border: 1px solid $white;
    border-radius: 2rem;
    background-color: transparent;
    color: $white;
    transition: border 0.5s, color 0.5s;
    cursor: pointer;
  }

  &-btn:hover {
    border: 1px solid $main-green;
    color: $main-green;
  }
}

.header a {
  color: $white;
  text-decoration: none;
}

.navbar a {
  margin: 0 1rem;
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
}

.header .navbar a:hover {
  border-bottom: 0.1rem solid $main-green;
}

.header .icons div {
  font-size: 2.2rem;
  margin-left: 2rem;
  color: $white;
  cursor: pointer;
}

.header .icons div:hover {
  color: $main-green;
}

#menu-btn {
  display: none;
}

.header .search-form {
  position: absolute;
  display: flex;
  align-items: center;
  top: 140%;
  right: 0.3rem;
  width: 50rem;
  height: 5rem;
  border: 0.1rem solid $main-border;
  background-color: $white;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}

.header .search-form.active {
  transform: scaleY(1);
}

.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem;
  text-transform: none;
  border: none;
}

.header .search-form label {
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: $black;
  cursor: pointer;
}

.header .search-form label:hover {
  color: $main-green;
}

.header.sticky {
  background-color: $white;
  border-bottom: 0.1rem solid $main-border;
}

.header.sticky a,
.header.sticky .icons div {
  color: $black;
}

.header.sticky .header-logo:hover {
  color: $main-green;
}

// ABOUT US
.heading {
  display: flex;
  justify-content: center;
  padding: 5rem 0 0 0;
  font-size: 4rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 100;
}

.line {
  margin: 2rem auto;
  width: 2.5rem;
  height: 0.2rem;
  background-color: $main-green;
}

.subtitle {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: $light-grey;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

.row {
  flex: 0.5;
  margin-top: 6rem;
  text-align: center;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3rem auto;
  width: 100px;
  height: 100px;
  font-size: 3rem;
  border-radius: 50%;
  background-color: $background-grey;
  color: $light-grey;
  transition: background-color 0.5s, color 0.5s;
  cursor: pointer;

  &:hover {
    background-color: $main-green;
    color: $white;
  }
}

.content h4 {
  margin: 3rem 0;
  font-size: 1.8rem;
  font-weight: 400;
}

.content p {
  margin: 0 3rem;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 2rem;
  color: $light-grey;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6rem;
}

.btn {
  margin: 3rem 0 2rem 0;
  padding: 1rem 4rem;
  border-radius: 2rem;
  border: none;
  background-color: $main-green;
  color: $white;
  transition: background-color 0.5s, color 0.5s;
  cursor: pointer;

  &:hover {
    background-color: $background-grey;
    color: $light-grey;
  }
}

// WORK
.work-container-top {
  background-color: $background-grey;
}

.work-container-bottom {
  position: relative;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url("../img/office_1920.jpg");

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $opinion-shadow;
    content: "";
  }
}

.work-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.col-2 {
  flex-basis: 50%;
  min-width: 30rem;
  z-index: 1001;
}

.col-2 img {
  max-width: 100%;
  padding: 5rem 0;
}

.col-2 h3 span {
  color: $main-green;
}

.col-2 h3 {
  text-align: center;
  margin: 2rem 0;
  font-size: 1.7rem;
  font-weight: 300;
  font-family: Work Sans, sans-serif;
  letter-spacing: 0.1rem;
  color: $white;
}

.col-2 .opinion-coment {
  margin: 0 0 15rem 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: Work Sans, sans-serif;
  color: $light-grey;

  &.opinion-coment span {
    font-weight: 400;
  }
}

.text {
  margin-top: 1.5rem;
  margin-right: 2rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.6rem;
  color: $light-grey;
}

.top,
.bottom {
  margin-left: 2rem;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 15rem auto 0;
  width: 100px;
  height: 100px;
  border: 2px solid $black;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-image: url("../img/face-opinion_1920.jpg");
}

// SERVICES
.services {
  background-color: $background-grey;
}

.services-container .container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem 8rem 2rem;
}

.services-container .row {
  flex: 1 1 40rem;
  text-align: left;
}

.services-container .content h4 {
  font-family: Work Sans, sans-serif;
  font-size: 3.5rem;
  font-weight: 200;
  margin: 0 0 1rem 0.5rem;
}

.services-container .content p {
  margin-left: 0.5rem;
  line-height: 2.6rem;
}

.services-container .card {
  display: flex;
  flex: 1 1 20rem;
}

.services-container .item {
  margin: 0 1rem 2rem 3rem;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  border-radius: 50%;
  background-color: $white;
  color: $main-green;
  cursor: default;
}

.services-container .item i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

// TEAM
.gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 72px 0 0 0;
}

.gallery-item {
  position: relative;
  margin: 0;
  flex: 1 1 20%;
  height: 40rem;
  max-width: 20%;
  text-align: center;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item::before {
  position: absolute;
  display: none;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $main-green;
  opacity: 0.8;
  transition: display 1s;
}

.gallery-item p {
  position: absolute;
  display: none;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: $white;
  font-weight: 200;
  font-family: Work Sans, sans-serif;
  transition: display 1s;
}

.gallery-item:hover::before,
.gallery-item:hover p {
  display: block;
}

// PRICING
.pricing {
  background-color: $background-grey;
}

.offer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  padding: 8rem 1.2rem;
}

.offer-card {
  flex: 0.5;
  text-align: justify;
  width: 100%;
  background-color: $light-white;
  border-radius: 2%;
}

.pricing-details {
  margin: 4rem 3rem;
}

.pricing-details h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 5rem;
  color: $main-green;
}

.pricing-details p {
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
  color: $light-grey-more;
}

.offers-box {
  border-top: 1px solid $background-grey;
}

.offers-box p {
  margin: 4rem 3rem;
  text-align: left;
  font-family: "Work Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 3.5rem;
  color: $light-grey;
}

.offer-btn .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 8rem;
  font-size: 1.6rem;
  border-radius: 0%;
}

// MEDIA
@media (max-width: 450px) {
  .col-2 h2 {
    text-align: center;
    padding: 2rem;
  }

  .col-2 p {
    text-align: justify;
    margin: 0;
  }

  .col-2 .btn {
    margin: 4rem 7rem;
  }

  .work-img {
    order: 1;
  }

  .reverse {
    order: 2;
  }

  .services-container .content h4 {
    font-size: 2.5rem;
  }

  .offer-card {
    margin: 1.5rem 0;
    width: 80%;
    flex: none;
  }
}

@media (max-width: 576px) {
  #menu-btn {
    display: inline;
  }

  .navigation {
    position: static;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -200%;
    background-color: $white;
    width: 100%;
    height: calc(100vh - 5rem);
    transition: right 0.8s;
    z-index: 200;
  }

  .header .navbar.active {
    right: 0;
  }

  .header .navbar a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: $black;
  }

  .col-2 h2 {
    padding: 2.2rem 0;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 55%;
  }

  .navigation {
    position: static;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  .header .search-form {
    width: 90%;
    right: 2rem;
  }

  .work-container-bottom {
    background-image: url("../img/office_640.jpg");
  }

  .photo {
    background-image: url("../img/face-opinion_640.jpg");
  }

  .col-2 .opinion-coment {
    font-size: 1.5rem;
  }

  // .offer-card {
  //   margin: 1.5rem 0;
  //   width: 80%;
  //   flex: none;
  // }
}
