$white: #fff;
$black: #000;

$light-white: rgb(248, 245, 245);

$main-border: rgba(136, 136, 136, 0.501);
$main-green: rgb(77, 229, 125);

$header-shadow: rgba(0, 0, 0, 0.5);
$opinion-shadow: rgba(0, 0, 0, 0.852);

$light-grey: rgba(136, 136, 136, 0.891);
$light-grey-more: rgba(128, 128, 128, 0.265);
$background-grey: rgba(228, 227, 227, 0.623);
